black==25.1.0
numpy==2.2.5
pandas==2.2.3
torch==2.7.0
matplotlib==3.10.3
seaborn==0.13.2
scikit-learn==1.6.1
streamlit==1.45.1
jupyter==1.1.1
xgboost==3.0.2
lightgbm==4.6.0
catboost==1.2.8
pytorch-tabnet==4.1.0